<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    <title>Micro Finance Bank</title>
    <link href="./css/materialize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./fonts/material-icons.css">
    <link href="./css/mfb.css" type="text/css" rel="stylesheet"/>

</head>
<body>
    <div class="wrapper">
        <h1 class="center-align grey-text">MFB API Server</h1> 
        <div class="row center-align">
            <a class="btn-floating orange darken-3 pulse"><i class="material-icons">videocam</i></a>
        </div>
        
        <footer class="center-align grey-text">
            <small>&copy; Copyright mfb. 2022</small>
        </footer>
    </div>
    

    <script src="./js/socket.io.min.js"></script>
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/materialize.min.js"></script>
    <script src="./js/mfb.js"></script>
</body>
</html>